.header{
  background-color: #fff;
  width: 80vw;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  color: #6E6E6E;
}

.user{
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  border-left: 5px solid #6E6E6E;

}

.user-avatar{
  height: 7vh;
  border-radius: 2rem;
  margin-left: .7rem;
}

.info{
  /* border: 1px solid black; */
  margin-right: 1.5rem;
  font-size: 1.2rem;
  width: 70px;
  display: flex;
  justify-content: space-between;
}